version: '3.8'

services:
  web:
    build: .
    command: python message_board/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/message_board/staticfiles
      - media_volume:/app/message_board/media
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=message_board
      - POSTGRES_USER=postgre
      - POSTGRES_PASSWORD=193249831
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume: